p::first-line{
    color: blue;
    font-size: 1.2rem;
}

p::first-letter{
    color: red;
    font-size: 5rem;
}

li{
    list-style: none;
}

/* Adicionando imagem antes das listas */
li::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(pikachu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p::selection{
    background-color: yellow;
    color: orange;
}