*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}

body{
    background-color: rgba(231, 213, 189, 0.397);
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container{
    
    margin: 10px auto;
    width: 20vw;
    height: 65vh;
    display: flex;
    flex-flow: wrap column;
    font-size: 0.95em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.top-side{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    gap: 100px;
    
}

.middle-side{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
    /* background-color: red; */
    
}

.bot-side-numbers{
    display: flex;
    flex-direction: wrap column;
    justify-content: space-around;
    align-items: center;
    
}

.bot-side-details{
    display: flex;
    flex-direction: wrap column;
    justify-content: space-around;
    align-items: center;
    
}

.full-value{
    display: flex;
    flex-flow: wrap column;
    margin: 30px;
    gap: 4px;

    
}
.top{
    width: 100%;
    margin: 10px;
    padding: 10px;   
    border: solid 0px ;
    border-radius: 20px;
   /*  background-color: rgb(240, 237, 237); */
}

.img-poke{
    width: 150px;
    border: solid 0px ;
    border-radius: 90px;
    padding: 10px;
    background-color: rgb(173, 168, 168);
}

.type-poke{
    
    padding: 10px 20px;   
    margin-bottom: 10px;
    border: solid 0px ;
    border-radius: 20px;
    /* background-color: rgb(240, 237, 237); */
    
}

#search-pokemon{
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: wrap column;
}

input{
   padding: 10px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-transform: capitalize;
   
}

button{
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}