*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Primeira parte contendo o header */
.header{
    position: relative;
    width: 100%;
    min-width: 1042px;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, .2);;
   
}

/* Segunda parte contedo os titulos e h1 */
.title{
    min-width: 150px;
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-transform: uppercase;

}

.title-primary{
    position: absolute;
    left: 5%;
    top: 23%;
}

.title-secundary{
    position: absolute;
    left: 5%;
    top: 45%;
}

/* Terceira parte contendo o navbar */

.navbar{
    position: absolute;
    left: 35%;
    top: 25%;
    min-width: 500px;
    color: #adadab;
    

    
}

.navbar ul{
    list-style: none;
    font-size: 16px;
}

.navbar li{
    display: inline-block;
    padding: 10px;
}

.navbar a{
    text-decoration: none;
    color: #96968f;
    
}

.navbar a:hover{
    color: black;
}